workflow:
  rules:
    # Only protected branches
    - if: '$CI_COMMIT_REF_PROTECTED == "true"'
    - if: '$CI_COMMIT_TAG != null'
    # Merge Requests
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' && $CI_MERGE_REQUEST_TARGET_BRANCH_PROTECTED

variables:
  GIT_DEPTH: 0
  VULKAN_VERSION: 1.4.321.0
  C_CLANG_TARGET: clang-20
  CXX_CLANG_TARGET: clang++-20
  C_GCC_TARGET: gcc-15
  CXX_GCC_TARGET: g++-15
  ALPINE_APK_OPT: --no-cache --repository https://dl-cdn.alpinelinux.org/alpine/edge/main
  CMAKE_SHR_OPT: -DHELIOGRIM_ASSETS_FORCE_HTTPS:BOOL=ON

stages:
  - build
  - test
  - release

build.windows.msvc:
  stage: build
  tags:
    - windows
    - vulkan
    - amd64

  cache:
    - key: cmake-cache-build-windows-msvc
      paths:
        - build/Debug
        - build/Profile
        - build/Release
    - key: cmake-cache-deps-windows-msvc
      paths:
        - vendor/*/bin/
        - vendor/*/compile/
        - vendor/*/include/
        - vendor/*/.signature

  # Preparation
  before_script:
    - Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope Process -Force
    - $vsinstalldir = $(If(Test-Path -Path 'C:\Program Files\Microsoft Visual Studio\2022\') { 'C:\Program Files\Microsoft Visual Studio\2022\' } Else { 'C:\Program Files (x86)\Microsoft Visual Studio\2022\' })
    - echo "Mounting"; & (Get-ChildItem -Path $vsinstalldir -Filter 'Launch-VsDevShell.ps1' -Recurse -ErrorAction SilentlyContinue).FullName -Arch amd64

    - cmake --version
    - $logical_core_count = (Get-CimInstance Win32_ComputerSystem).NumberOfLogicalProcessors

  # Process
  script:
    # Building

    # CMake - Debug
    - cmake -S . -B build/Debug -G Ninja -DCMAKE_BUILD_TYPE=Debug $CMAKE_SHR_OPT
    - cmake --build build/Debug -t Heliogrim-Heliogrim --parallel $logical_core_count
    - cmake --build build/Debug -t Heliogrim-Editor --parallel $logical_core_count
    - cmake --build build/Debug -t Heliogrim-AllTests --parallel $logical_core_count

    # CMake - Profile
    #- cmake -S . -B build/Profile -A x64 -D CMAKE_BUILD_TYPE=Profile --fresh
    #- cmake --build build/Profile -t Heliogrim-Heliogrim --parallel $logical_core_count --clean-first
    #- cmake --build build/Profile -t Heliogrim-Editor --parallel $logical_core_count

    # CMake - Release
    #- cmake -S . -B build/Release -A x64 -D CMAKE_BUILD_TYPE=Release --fresh
    #- cmake --build build/Release -t Heliogrim-Heliogrim --parallel $logical_core_count --clean-first
    #- cmake --build build/Release -t Heliogrim-Editor --parallel $logical_core_count

  # Cleanup / Referencing
  after_script:
    #- CI_JOB_NAME=$CI_JOB_NAME
    #- echo "JOB_${CI_JOB_NAME//./_}_ID=$CI_JOB_ID" >> build.report.env
    - echo "JOB_build_windows_msvc_ID=$CI_JOB_ID" >> build.report.env

  artifacts:
    name: Heliogrim-Win-MSVC-$CI_COMMIT_REF_NAME
    paths:
      - build/Debug/
      #- build/Release/
      #- build/Profile/
      - dist/Debug/
      #- dist/Release/
      #- dist/Profile/
    expire_in: 15min
    reports:
      dotenv: build.report.env

build.windows.clang:
  stage: build
  tags:
    - windows
    - vulkan
    - amd64

  cache:
    - key: cmake-cache-build-windows-clang
      paths:
        - build/Debug
        - build/Profile
        - build/Release
    - key: cmake-cache-deps-windows-clang
      paths:
        - vendor/*/bin/
        - vendor/*/compile/
        - vendor/*/include/
        - vendor/*/.signature

  # Preparation
  before_script:
    - Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope Process -Force
    - $vsinstalldir = $(If(Test-Path -Path 'C:\Program Files\Microsoft Visual Studio\2022\') { 'C:\Program Files\Microsoft Visual Studio\2022\' } Else { 'C:\Program Files (x86)\Microsoft Visual Studio\2022\' })
    - echo "Mounting"; & (Get-ChildItem -Path $vsinstalldir -Filter 'Launch-VsDevShell.ps1' -Recurse -ErrorAction SilentlyContinue).FullName -Arch amd64
    - $vsclangcl = (Get-ChildItem -Path $vsinstalldir -Recurse -ErrorAction SilentlyContinue | Where-Object { $_.FullName -Match 'Llvm\\x64\\bin\\clang-cl.exe$'}).FullName

    - cmake --version
    - $logical_core_count = (Get-CimInstance Win32_ComputerSystem).NumberOfLogicalProcessors

  # Process
  script:
    # Building

    # CMake - Debug
    - cmake -S . -B build/Debug -G Ninja "$("-DCMAKE_C_COMPILER=" + $vsclangcl)" "$("-DCMAKE_CXX_COMPILER=" + $vsclangcl)" -DCMAKE_BUILD_TYPE=Debug $CMAKE_SHR_OPT
    - cmake --build build/Debug -t Heliogrim-Heliogrim --parallel $logical_core_count
    - cmake --build build/Debug -t Heliogrim-Editor --parallel $logical_core_count
    - cmake --build build/Debug -t Heliogrim-AllTests --parallel $logical_core_count

    # CMake - Profile
    #- cmake -S . -B build/Profile -T ClangCL -A x64 -D CMAKE_BUILD_TYPE=Profile --fresh
    #- cmake --build build/Profile -t Heliogrim-Heliogrim --parallel $logical_core_count --clean-first
    #- cmake --build build/Profile -t Heliogrim-Editor --parallel $logical_core_count

    # CMake - Release
    #- cmake -S . -B build/Release -T ClangCL -A x64 -D CMAKE_BUILD_TYPE=Release --fresh
    #- cmake --build build/Release -t Heliogrim-Heliogrim --parallel $logical_core_count --clean-first
    #- cmake --build build/Release -t Heliogrim-Editor --parallel $logical_core_count

  # Cleanup / Referencing
  after_script:
    #- CI_JOB_NAME=$CI_JOB_NAME
    #- echo "JOB_${CI_JOB_NAME//./_}_ID=$CI_JOB_ID" >> build.report.env
    - echo "JOB_build_windows_clang_ID=$CI_JOB_ID" >> build.report.env

  artifacts:
    name: Heliogrim-Win-Clang-$CI_COMMIT_REF_NAME
    paths:
      - build/Debug/
      #- build/Release/
      #- build/Profile/
      - dist/Debug/
      #- dist/Release/
      #- dist/Profile/
    expire_in: 15min
    reports:
      dotenv: build.report.env

build.linux.gcc:
  image: docker.io/gcc:15.1.0-bookworm
  stage: build
  tags:
    - linux
    - amd64
  allow_failure: true

  cache:
    - key: cmake-cache-build-linux-gcc
      paths:
        - build/Debug
        - build/Profile
        - build/Release
    - key: cmake-cache-deps-linux-gcc
      paths:
        - vendor/*/bin/
        - vendor/*/compile/
        - vendor/*/include/
        - vendor/*/.signature

  # Preparation
  before_script:
    # Prepare Commands
    - apt-get update
    - command -v git 2>&1 || { echo >&2 "Required unavailable command git, try to recover."; apt-get -qq install git git-lfs -y; }
    - command -v cmake 2>&1 || { echo >&2 "Required unavailable command cmake, try to recover."; apt-get -qq install cmake -y; }
    - command -v xz 2>&1 || { echo >&2 "Required unavailable command xz, try to recover."; apt-get -qq install xz-utils -y; }
    # Optional Commands
    - command -v ninja 2>&1 || { echo >&2 "Optional unavailable command ninja, try to recover."; apt-get -qq install ninja-build -y; }
    # Check Versions
    - cmake --version
    # Install System Dependencies
    - apt-get -qq install pkg-config cmake-data mesa-vulkan-drivers -y
    - apt-get -qq install xcb libx11-xcb1 libxcb1-dev libxcb-xfixes0 libxcb-xfixes0-dev libx11-dev libx11-xcb-dev libxext-dev libxfixes-dev libxcursor1 libxcursor-dev libxrandr2 libxrandr-dev libxrender1 libxrender-dev libxss1 libxss-dev libxi6 x11proto-dev xorg-sgml-doctools libxi-dev -y
    - apt-get -qq install libwayland-dev libwayland-client0 libwayland-cursor0 libegl1-mesa-dev libegl-mesa0 libwayland-egl-backend-dev libwayland-egl1 libxkbcommon-dev libxkbcommon0 libdecor-0-dev libdecor-0-0 -y
    - apt-get -qq install libuuid1 uuid-dev -y

  # Process
  script:
    # Building

    # Generator: Makefiles ~ '-A x64' by default

    # CMake - Debug
    - cmake -S . -B build/Debug -D CMAKE_C_COMPILER=`which gcc` -D CMAKE_CXX_COMPILER=`which g++` -D CMAKE_BUILD_TYPE=Debug $CMAKE_SHR_OPT
    - cmake --build build/Debug -t Heliogrim-Heliogrim --parallel $(nproc)
    - cmake --build build/Debug -t Heliogrim-Editor --parallel $(nproc)
    - cmake --build build/Debug -t Heliogrim-AllTests --parallel $(nproc)

    # CMake - Profile
    #- cmake -S . -B build/Profile -A x64 -D CMAKE_C_COMPILER=`which gcc` -D CMAKE_CXX_COMPILER=`which g++` -D CMAKE_BUILD_TYPE=Profile --fresh
    #- cmake --build build/Profile --parallel $(nproc) -t Game --clean-first

    # CMake - Release
    #- cmake -S . -B build/Release -A x64 -D CMAKE_C_COMPILER=`which gcc` -D CMAKE_CXX_COMPILER=`which g++` -D CMAKE_BUILD_TYPE=Release --fresh
    #- cmake --build build/Release --parallel $(nproc) -t Game --clean-first

  # Cleanup / Referencing
  after_script:
    #- CI_JOB_NAME=$CI_JOB_NAME
    - echo "JOB_build_linux_gcc_ID=$CI_JOB_ID" >> build.report.env

  artifacts:
    name: Heliogrim-Unix-GCC-$CI_COMMIT_REF_NAME
    paths:
      - build/Debug/
      #- build/Profile/
      #- build/Release/
      - dist/Debug/
      #- dist/Release/
      #- dist/Profile/
    expire_in: 15min
    reports:
      dotenv: build.report.env

build.linux.clang:
  image: docker.io/silkeh/clang:20-bookworm
  stage: build
  tags:
    - linux
    - amd64

  cache:
    - key: cmake-cache-build-linux-clang
      paths:
        - build/Debug
        - build/Profile
        - build/Release
    - key: cmake-cache-deps-linux-clang
      paths:
        - vendor/*/bin/
        - vendor/*/compile/
        - vendor/*/include/
        - vendor/*/.signature

  # Preparation
  before_script:
    # Prepare Commands
    - apt-get update
    - command -v git 2>&1 || { echo >&2 "Required unavailable command git, try to recover."; apt-get -qq install git git-lfs -y; }
    - command -v cmake 2>&1 || { echo >&2 "Required unavailable command cmake, try to recover."; apt-get -qq install cmake -y; }
    - command -v xz 2>&1 || { echo >&2 "Required unavailable command xz, try to recover."; apt-get -qq install xz-utils -y; }
    # Optional Commands
    - command -v ninja 2>&1 || { echo >&2 "Optional unavailable command ninja, try to recover."; apt-get -qq install ninja-build -y; }
    # Install System Dependencies
    - apt-get -qq install pkg-config cmake-data mesa-vulkan-drivers -y
    - apt-get -qq install xcb libx11-xcb1 libxcb1-dev libxcb-xfixes0 libxcb-xfixes0-dev libx11-dev libx11-xcb-dev libxext-dev libxfixes-dev libxcursor1 libxcursor-dev libxrandr2 libxrandr-dev libxrender1 libxrender-dev libxss1 libxss-dev libxi6 x11proto-dev xorg-sgml-doctools libxi-dev -y
    - apt-get -qq install libwayland-dev libwayland-client0 libwayland-cursor0 libegl1-mesa-dev libegl-mesa0 libwayland-egl-backend-dev libwayland-egl1 libxkbcommon-dev libxkbcommon0 libdecor-0-dev libdecor-0-0 -y
    - apt-get -qq install libuuid1 uuid-dev -y

  # Process
  script:
    # Building

    # Generator: Makefiles ~ '-A x64' by default

    # CMake - Debug
    - cmake -S . -B build/Debug -D CMAKE_C_COMPILER=`which $C_CLANG_TARGET` -D CMAKE_CXX_COMPILER=`which $CXX_CLANG_TARGET` -D CMAKE_CXX_FLAGS=-stdlib=libc++ -D CMAKE_EXE_LINKER_FLAGS=-stdlib=libc++ -D CMAKE_BUILD_TYPE=Debug $CMAKE_SHR_OPT
    - cmake --build build/Debug -t Heliogrim-Heliogrim --parallel $(nproc)
    - cmake --build build/Debug -t Heliogrim-Editor --parallel $(nproc)
    - cmake --build build/Debug -t Heliogrim-AllTests --parallel $(nproc)

    # CMake - Profile
    #- cmake -S . -B build/Profile -A x64 -D CMAKE_C_COMPILER=`which $C_CLANG_TARGET` -D CMAKE_CXX_COMPILER=`which $CXX_CLANG_TARGET` -D CMAKE_BUILD_TYPE=Profile --fresh
    #- cmake --build build/Profile --parallel $(nproc) -t Game --clean-first

    # CMake - Release
    #- cmake -S . -B build/Release -A x64 -D CMAKE_C_COMPILER=`which $C_CLANG_TARGET` -D CMAKE_CXX_COMPILER=`which $CXX_CLANG_TARGET` -D CMAKE_BUILD_TYPE=Release --fresh
    #- cmake --build build/Release --parallel $(nproc) -t Game --clean-first

  # Cleanup / Referencing
  after_script:
    - CI_JOB_NAME=$CI_JOB_NAME
    - echo "JOB_build_linux_clang_ID=$CI_JOB_ID" >> build.report.env

  artifacts:
    name: Heliogrim-Unix-Clang-$CI_COMMIT_REF_NAME
    paths:
      - build/Debug/
      #- build/Profile/
      #- build/Release/
      - dist/Debug/
      #- dist/Release/
      #- dist/Profile/
    expire_in: 15min
    reports:
      dotenv: build.report.env

# Testing Section

test.windows.msvc:
  stage: test
  tags:
    - windows
    - vulkan
    - amd64
  needs:
    - job: build.windows.msvc
      artifacts: true

  # Preparation
  before_script:
    - cmake --version
    - $logical_core_count = (Get-CimInstance Win32_ComputerSystem).NumberOfLogicalProcessors

  # Process
  script:
    # Testing

    # CMake - Debug
    - ctest --test-dir build/Debug --output-junit "$PWD/ctest-report.xml" --output-on-failure --parallel $logical_core_count

  artifacts:
    when: always
    paths:
      - ctest-report.xml
    reports:
      junit: ctest-report.xml

test.windows.clang:
  stage: test
  tags:
    - windows
    - vulkan
    - amd64
  needs:
    - job: build.windows.clang
      artifacts: true

  # Preparation
  before_script:
    - cmake --version
    - $logical_core_count = (Get-CimInstance Win32_ComputerSystem).NumberOfLogicalProcessors

  # Process
  script:
    # Testing

    # CMake - Debug
    - ctest --test-dir build/Debug --output-junit "$PWD/ctest-report.xml" --output-on-failure --parallel $logical_core_count

  artifacts:
    when: always
    paths:
      - ctest-report.xml
    reports:
      junit: ctest-report.xml

test.linux.gcc:
  image: docker.io/gcc:14.2.0-bookworm
  stage: test
  tags:
    - linux
    - amd64
  needs:
    - job: build.linux.gcc
      artifacts: true
  allow_failure: true

  # Preparation
  before_script:
    # Prepare Commands
    - apt-get update
    - command -v git 2>&1 || { echo >&2 "Required unavailable command git, try to recover."; apt-get -qq install git git-lfs -y; }
    - command -v cmake 2>&1 || { echo >&2 "Required unavailable command cmake, try to recover."; apt-get -qq install cmake -y; }
    - command -v xz 2>&1 || { echo >&2 "Required unavailable command xz, try to recover."; apt-get -qq install xz-utils -y; }
    # Optional Commands
    - command -v ninja 2>&1 || { echo >&2 "Optional unavailable command ninja, try to recover."; apt-get -qq install ninja-build -y; }
    # Install System Dependencies
    - apt-get -qq install pkg-config cmake-data mesa-vulkan-drivers -y
    - apt-get -qq install xcb libx11-xcb1 libxcb1-dev libxcb-xfixes0 libxcb-xfixes0-dev libx11-dev libx11-xcb-dev libxext-dev libxfixes-dev libxcursor1 libxcursor-dev libxrandr2 libxrandr-dev libxrender1 libxrender-dev libxss1 libxss-dev libxi6 x11proto-dev xorg-sgml-doctools libxi-dev -y
    - apt-get -qq install libwayland-dev libwayland-client0 libwayland-cursor0 libegl1-mesa-dev libegl-mesa0 libwayland-egl-backend-dev libwayland-egl1 libxkbcommon-dev libxkbcommon0 libdecor-0-dev libdecor-0-0 -y
    - apt-get -qq install libuuid1 uuid-dev -y

  # Process
  script:
    # Testing

    # CMake - Debug
    - ctest --test-dir build/Debug --output-junit "$PWD/ctest-report.xml" --output-on-failure --parallel $(nproc)

  artifacts:
    when: always
    paths:
      - ctest-report.xml
    reports:
      junit: ctest-report.xml

test.linux.clang:
  image: docker.io/alpine:3.22.1
  stage: test
  tags:
    - linux
    - amd64
  needs:
    - job: build.linux.clang
      artifacts: true
  allow_failure: true

  # Preparation
  before_script:
    # Install System Dependencies
    - apk add $ALPINE_APK_OPT pkgconf cmake mesa git git-lfs libc++ llvm-libunwind libgcc gcompat
    - apk add $ALPINE_APK_OPT libx11 libx11-dev libxcursor libxcursor-dev libxfixes libxfixes-dev libxext libxext-dev libxrandr libxrandr-dev libxrender libxrender-dev libxi libxi-dev
    - apk add $ALPINE_APK_OPT wayland libdecor libdecor-dev xkbcli
    - apk add $ALPINE_APK_OPT libuuid ossp-uuid-dev

  # Process
  script:
    # Testing

    # CMake - Debug
    - ctest --test-dir build/Debug --output-junit "$PWD/ctest-report.xml" --output-on-failure --parallel $(nproc)

  artifacts:
    when: always
    paths:
      - ctest-report.xml
    reports:
      junit: ctest-report.xml

# Release / Deployment Section

release:
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  stage: release
  tags:
    - linux
    - amd64
  rules:
    - if: '$CI_COMMIT_TAG != null'
  needs:
    - job: build.linux.gcc
      artifacts: true
    - job: build.linux.clang
      artifacts: true
    - job: build.windows.msvc
      artifacts: true
    - job: build.windows.clang
      artifacts: true
  script:
    - echo "Release '$CI_COMMIT_TAG' using jobs '$JOB_build_linux_gcc_ID', '$JOB_build_linux_clang_ID', '$JOB_build_windows_msvc_ID', '$JOB_build_windows_clang_ID'"
  release:
    tag_name: '$CI_COMMIT_TAG'
    name: "Release '$CI_COMMIT_TAG'"
    description: 'CI automatic tagged release.'
    assets:
      links:
        - name: "Linux GCC Build"
          url: 'https://git.neogc.net/heliogrim-workgroup/engine/-/jobs/$JOB_build_linux_gcc_ID/artifacts/download'
        - name: "Linux Clang Build"
          url: 'https://git.neogc.net/heliogrim-workgroup/engine/-/jobs/$JOB_build_linux_clang_ID/artifacts/download'
        - name: "Windows MSVC Build"
          url: 'https://git.neogc.net/heliogrim-workgroup/engine/-/jobs/$JOB_build_windows_msvc_ID/artifacts/download'
        - name: "Windows Clang Build"
          url: 'https://git.neogc.net/heliogrim-workgroup/engine/-/jobs/$JOB_build_windows_clang_ID/artifacts/download'